body {
  background-color: darksalmon;
  min-width: 100%;
    width: 100%;
    max-width: 100%;

}

.git-links {
  font-size: 30px;
  font-family: 'Pacifico', sans-serif;
  font-style: bolder;
  text-align: center;
}
